<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <include resource="com/predic8/logging/logback-json.xml"/>

    <root level="info">
        <appender-ref ref="stash"/>
        <appender-ref ref="jsonStdout"/>
    </root>
</configuration>